/* @font-face {
    font-family: 'Tokeely Brookings';
    src: url('fonts/Tokeely_Brookings.TTF');

} */
@font-face {
    font-family: 'Tokeely Brookings';
    src: url('fonts/Tokeely_Brookings.TTF');
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    overflow-x: hidden;
}
main{
    background-color: #140F24 !important; 
}
.limit{
    position: relative;
}
.actlist p{
    font-size: 36px;
    font-family: 'Tokeely Brookings';
    text-align: end;
}
.header-banner__square{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.square{
    position: relative;
}
.normal-img, .glitch-img{
    float: right;
}
.glitch-img{
    position: absolute;
    top: 0;
    right: 0;
}
.loader-main svg{
    width: 100% !important;
}
.space-invaders{
    position: absolute;
    left: -3vw;
    width: 20vw;
}
.header-banner-wrapper{
    padding-bottom: 50px;
}
.about_software{
    background-color: #CF1421;
}
.innovations{
    background-color: #CF1421 !important;
}
.about_direction_software{
    position: relative;
    margin-top: 80px;
}
.about_direction_software h1, .progr-title-software, .interview-software h1{
    font-size: 40px;
    color: #fff;
    /* transform: rotate(90deg); */
    font-family: 'Tokeely Brookings';
    width: max-content;
    writing-mode:vertical-lr; /* Поворот текста вертикально справа налево */
    text-orientation: upright;
    display: flex;
    justify-content: start;

    /* transform-origin: 0 0; */
}

.grid-2{
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    margin-bottom: 100px;
}
.grid-3{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    position: relative;
    margin-bottom: 100px;
}
.about_teaching-software{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.what{
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    text-align: end;
    padding-right: 10px;
}
.what_text > div{
    display: flex;
    flex-direction: column;
}
.what_text p{
    color: #EBEBEB;
    font-size: 24px;
    font-weight: 300;
    width: fit-content;
    text-align:justify;
    max-width: 846px;
}
.what_text span{
    font-weight: 600;
    color: #fff;
}
.receive{
    position: relative;
}
.stud-title h1{
    color: #fff;
    text-align: start;
    font-size: 32px;
    font-weight: 400;
}
.stud-title{
    display: flex;
    flex-direction: row;
    margin-left: -40px;
}
.stud-title img{
    width: 50px;
    height: 50px;
}
.stud-learn li, .stud-receive li{
    color: #EBEBEB;
    font-size: 24px;
    max-width: 800px;
    margin-left: -2.3%;
}
.stud-learn{
    margin-top: 50px;
}
.list-profess > div{
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-profess h1{
    font-size: 48px;
    color: #fff;
    text-align: start;
    font-weight: 500;
}
.list-profess p{
    color: #EBEBEB;
    font-size: 20px;
    font-weight: 200;
    max-width: 400px;
    text-align: justify;
}
.courses div{
    display: flex;
    flex-direction: row;
    margin-left: -15%;
}
.courses h1{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.courses ul{
    margin-bottom: 20px;
}
.courses li{
    color: #EBEBEB;
    font-size: 24px;
    list-style: none;
    margin-bottom: 10px;
    font-weight: 200;
}
.diplom-software h1, .diplom-software p{
    color: #fff;
    font-size: 3.5vw;
    font-family: 'Tokeely Brookings';
    font-weight: 600;
}
.diplom-software h1{
    text-align: end;
}
.diplom-software p{
    text-align: start;
}
.diplom-software img{
    width:100%;
}
.by-stud, .by-teacher{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}
.by-stud h2, .by-teacher h2{
    font-size: 36px;
    color: #fff;
    text-align: start;
    font-weight: 600;
}
.convert{
    background-image: url('/images/convert-bg.svg');
    position: relative;
    background-repeat: no-repeat;
    background-size:    cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    min-height: 80%;
}
.laptop-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.convert-content li {
    list-style-type: none;
    text-align: justify;
    font-weight: 400;
}
.convert-content div{
    margin-top: 10px;
}
.text-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
.convert-content{
    padding: 50px 40px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.convert-content h1{
    font-family: 'Tokeely Brookings';
    max-width: 80%;

}
.pacman{
    position: absolute;
    right: -3%;
    bottom: 0;
    width: 15vw;
}
.pacman,.space-invader, .it-items, .ghosts, .first-3d-grad, .second-3d-grad, .third-3d-grad, .code-3d, .dino-img-red, .ai-3d{
    z-index: -1;
    position: absolute;
}
.ghosts{
    top: 0;
    right: -3%;
    width: 15vw;
}
.first-3d-grad{
    top: 20;
    left: 25%;
    width: 15vw;
}
.second-3d-grad{
    bottom: 40%;
    right: 25%;
    width: 17vw;
}
.third-3d-grad{
    bottom: -5;
    left: 10%;
    width: 17vw;
}
.code-3d{
    left: 2%;
    bottom: 30%;
    width: 15vw;
}
.dino-img-red{
    right: 0;
    bottom: 15%;
    width: 20vw;
}
.ai-3d{
    bottom: 20%;
    left: 0;
    width: 15vw;
}
.it-items{
    bottom: 10%;
    left: 10%;
    width: 10vw !important;
}
.click-it{
    position: absolute;
    z-index: 2;
    left: 300px;
    bottom: 0;
    width: 150px;
}
.why-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.space-invader{
    top: 50%;
    left: -12%;
}
.videos-interview{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;

}
.small-screen{
    display: none;
}

@media (max-width: 1900px) {
    .glitch{
        font-size: 80px !important;
    }
    .actlist p{
        font-size: 24px;
    }
    .space-invader{

        left: -80px;
    }
}
@media (max-width: 1440px) {
    .videos-interview iframe{
        width: 200px;
        height: 280px;
    }



}
@media (max-width:1024px) {
    .small-screen{
        display: block;
    }
    .glitch{
        font-size: 60px !important;
    }
    .glitch-img, .normal-img {
        width: 134px !important;
        height: 154px !important;

    }
    .actlist p{
        font-size: 16px;
    }
    .loader-main{
        max-width: 436px !important;
    }
    ul{
        padding-left: 0 !important;
    }
    .convert-content h1{
        max-width: 100%;
    }
    .grid-2{
        grid-template-columns: 20% 80%;
    }
    .grid-3{
        display: none;
    }

    .what{
        display: none;
    }
    .what_text p{
        font-size: 20px;
    }
    .about_direction_software h1, .progr-title-software, .interview-software h1{
        font-size: 32px;
    }
    .stud-title h1{
        font-size: 18px;
        font-weight: 500;
    }
    .stud-title img{
        display: none;
    }
    .stud-title{
        margin-left: 0;
    }
    .stud-receive li, .stud-learn li{
        margin-left: 0;
    }
    .stud-learn li{
        font-size: 20px;
    }

    .by-stud h2, .by-teacher h2{
        font-size: 24px;
    }
    .by-stud{
        margin-right: 35px;
        margin-bottom: 50px;
    }
    .videos-interview{
        justify-content: space-between;
    }
    .click-it{
        left: 150px;
        width: 100px;
    }
    .space-invader{
        width: 100px;
        left: -60px;
    }
}
@media (max-width:768px) {
    .space-invaders{
        /* display: none; */
    }
    .glitch{
        font-size: 42px !important;
    }
    .header-banner__main{
        width: 90% !important;
    }
    .laptop-image, .dino-img, .why-icons{
        display: none;
    }
    .convert{
        width: 90%;
    }
    .about_software section{
        margin-top: 70px;
    }
    .what_text p{
        font-size: 16px;
    }
    .videos-interview{
        justify-content: center;
    }
}
@media (max-width:600px){
    .glitch{
        font-size: 38px !important;
    }
    .loader-main{
        max-width: 256px !important;
    }
    .space-invaders{
        display: none;
    }
    .header-banner__main{
        width: 100% !important;
    }
    .text-side{
        min-width: 90%;
    }
    .convert{
        min-width: 100%;
    }
    .what_text p{
        font-size: 14px;
    }
    .stud-title h1{
        font-size: 16px;
        font-weight: 500;
    }
}
@media (max-width:400px){
    .glitch{
        font-size: 32px !important;
    }
    
}